# vim: ft=yaml
#
# Set default values.
---
values:
  lookup:
    pkg:
      name: homebrew/cask/dash
      manager: brew
    paths:
      confdir: 'Library/Preferences'
      conffile: 'com.kapeli.dashdoc.plist'
      datadir: 'Library/Application Support/Dash'
    rootgroup: {{ salt['cmd.run']("stat -f '%Sg' /dev/console") }}
...
